In [1]:
import os

import requests



cookies = {
    'tcip': '27.34.50.166',
    'flag-abt-Return-User-Timeline': 'control1',
    'flag-abt-homepage-sell-cta': 'challenger',
    'flag-abt-redesigned-ppd': 'control2',
    'flag-abt-model-overview-video-removal': 'control2',
    'flag-abt-srp-gql': 'control2',
    'flag-abt-true-car-plus-landing-page-2-0': 'challenger',
    'tc_v': 'dc446346-da4d-4db0-891c-2406b1839680',
    '_abp_auth_p': 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJlMmEwMjM3Yi1jYWU1LTRhNmMtOTJiMC04ZGE0MWMwYWQ1MzciLCJpYXQiOjE2NTM2MjE5MjcsImV4cCI6MTY2OTYyMTkyNywianRpIjoiYjcyOTRiNjAtNThiZi00MzQ4LWIxMTgtOTUwNmU5ZWNhMzM1IiwiYXV0aGVudGljYXRlZCI6ZmFsc2UsInByZXNldCI6eyJhZmZpbGlhdGlvbnMiOltdfSwiYXVkIjoiaHR0cHM6Ly93d3cudHJ1ZWNhci5jb20ifQ',
    '_abp_auth_s': '8lc5yajB8Zdbz3vn94QxyRxLjWhDjOdTjL4ZlH-7JLo',
    'referrer': 'ZTC0000000',
    'flag-abt-static-used-landing-page': 'challenger',
    'flag-abt-ev-navigation': 'challenger3',
    'flag-abt-deals-page-revamp': 'true',
    'flag-trade-partner': 'true',
    'flag-abt-matchmaker-cta': 'control2',
    'flag-abt-mo-reorganization-test': 'control1',
    'u': 'rBEADmKQRKdHFQASFMjlAg==',
    'tealium_test_field': 'Test_C',
    'SL_G_WPT_TO': 'en',
    'SL_wptGlobTipTmp': '1',
    'SL_GWPT_Show_Hide_tmp': '1',
    '_gid': 'GA1.2.701561641.1653621926',
    '_gcl_au': '1.1.1035011036.1653621927',
    '_scid': '9e0c6e59-b097-4950-9e85-99529ccf71da',
    'fs_uid': '#G5Y78#5199511860809728:5200381507801088#7eb16deb#/1685157926',
    'sa-user-id-v2': 's%253A0-7eee754e-a172-479b-6865-240e1f99e929%2524ip%252427.34.50.166.iEU11yG%252BMAxebe1G%252FcfNuK4E%252FeuUm01PdyIKHEBBaQY',
    'sa-user-id': 's%253A0-7eee754e-a172-479b-6865-240e1f99e929.KbD1DCUyt0xejkVEHHWPrDDdo5TSmYM50HePvx%252BOznQ',
    '_clck': 't3h2jx|1|f1t|0',
    '_sctr': '1|1653588900000',
    '_pin_unauth': 'dWlkPU9UYzVPRE5qWlRBdFpEaGlPQzAwTlRKbUxUazRZemN0WVRFMFpUazNNalU0WkdRdw',
    '_ga': 'GA1.1.1159698397.1653621926',
    '_uetvid': 'a6bd7120dd6c11ecaa932f43412b4db8',
    '_uetsid': 'a6bd6250dd6c11ec8ffecd4ff703ea95',
    'user_zip_code_new-york-ny': '10001',
    'capselaPreferredPostalCode': '10001',
    '_ga_XD4TBVCD03': 'GS1.1.1653621926.1.1.1653622836.0',
    'XSRF-TOKEN': '7kepFEnSrsx70cjRCNcOMVrw1vPQ8liizLo0hMNz%2B5FVxhTiubJTYSNgTrn7nLpvKssHs7L2dDjOxrO9JV13iA%3D%3D',
    '_abp_backend_session': 'S2J0S2hsVWVlcGJTNDhpbll0VXNuQTR4T0lmRU9qUUVPNzFlTnJhSnJubkgyTW00Yld0L0pIVnBBZ08yZHZaMi9jc1pVdWErVU1SQ25HQUJHblJVTDU5TEJxQXpJMzM5alhnVy9EUTBvQ25md1V3c0NEQ2dJVExNd1RoeDhhUmRYMXpjMmxMY3o4Nk5QbjhhR01WckhBPT0tLWJGUkg5U0hJbUV6S3d6MnNhb0NPR3c9PQ%3D%3D--1c917389eda6c460ce01ff3b5af5e4eb0b7137f0',
    '_clsk': 'ajo31u|1653622837004|24|0|e.clarity.ms/collect',
    'QSI_HistorySession': 'https%3A%2F%2Fwww.truecar.com%2Fprices-new%2Faudi%2F~1653622081593%7Chttps%3A%2F%2Fwww.truecar.com%2F~1653622115619%7Chttps%3A%2F%2Fwww.truecar.com%2Fused-cars-for-sale%2Flistings%2Faudi%2F~1653622128244%7Chttps%3A%2F%2Fwww.truecar.com%2F~1653622702388%7Chttps%3A%2F%2Fwww.truecar.com%2Fused-cars-for-sale%2Flistings%2Flocation-new-york-ny%2F~1653622801862%7Chttps%3A%2F%2Fwww.truecar.com%2Fused-cars-for-sale%2Flistings%2Flocation-new-york-ny%2F%3Fpage%3D2~1653622827316%7Chttps%3A%2F%2Fwww.truecar.com%2Fused-cars-for-sale%2Flistings%2Flocation-new-york-ny%2F~1653622842321',
    '_dd_s': 'rum=0&expire=1653624019821',
    
}

headers = {
    'authority': 'www.truecar.com',
    'accept': 'application/json, text/plain, */*',
    'accept-language': 'en-IN,en-GB;q=0.9,en-US;q=0.8,en;q=0.7',
    # Requests sorts cookies= alphabetically
    # 'cookie': f"tcip=27.34.50.166; flag-abt-Return-User-Timeline=control1; flag-abt-homepage-sell-cta=challenger; flag-abt-redesigned-ppd=control2; flag-abt-model-overview-video-removal=control2; flag-abt-srp-gql=control2; flag-abt-true-car-plus-landing-page-2-0=challenger; tc_v=dc446346-da4d-4db0-891c-2406b1839680; _abp_auth_p=eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJlMmEwMjM3Yi1jYWU1LTRhNmMtOTJiMC04ZGE0MWMwYWQ1MzciLCJpYXQiOjE2NTM2MjE5MjcsImV4cCI6MTY2OTYyMTkyNywianRpIjoiYjcyOTRiNjAtNThiZi00MzQ4LWIxMTgtOTUwNmU5ZWNhMzM1IiwiYXV0aGVudGljYXRlZCI6ZmFsc2UsInByZXNldCI6eyJhZmZpbGlhdGlvbnMiOltdfSwiYXVkIjoiaHR0cHM6Ly93d3cudHJ1ZWNhci5jb20ifQ; _abp_auth_s=8lc5yajB8Zdbz3vn94QxyRxLjWhDjOdTjL4ZlH-7JLo; referrer=ZTC0000000; flag-abt-static-used-landing-page=challenger; flag-abt-ev-navigation=challenger3; flag-abt-deals-page-revamp=true; flag-trade-partner=true; flag-abt-matchmaker-cta=control2; flag-abt-mo-reorganization-test=control1; u=rBEADmKQRKdHFQASFMjlAg==; tealium_test_field=Test_C; SL_G_WPT_TO=en; SL_wptGlobTipTmp=1; SL_GWPT_Show_Hide_tmp=1; _gid=GA1.2.701561641.1653621926; _gcl_au=1.1.1035011036.1653621927; _scid=9e0c6e59-b097-4950-9e85-99529ccf71da; fs_uid=#G5Y78#5199511860809728:5200381507801088#7eb16deb#/1685157926; sa-user-id-v2=s%253A0-7eee754e-a172-479b-6865-240e1f99e929%2524ip%252427.34.50.166.iEU11yG%252BMAxebe1G%252FcfNuK4E%252FeuUm01PdyIKHEBBaQY; sa-user-id=s%253A0-7eee754e-a172-479b-6865-240e1f99e929.KbD1DCUyt0xejkVEHHWPrDDdo5TSmYM50HePvx%252BOznQ; _clck=t3h2jx|1|f1t|0; _sctr=1|1653588900000; _pin_unauth=dWlkPU9UYzVPRE5qWlRBdFpEaGlPQzAwTlRKbUxUazRZemN0WVRFMFpUazNNalU0WkdRdw; _ga=GA1.1.1159698397.1653621926; _uetvid=a6bd7120dd6c11ecaa932f43412b4db8; _uetsid=a6bd6250dd6c11ec8ffecd4ff703ea95; user_zip_code_new-york-ny=10001; capselaPreferredPostalCode=10001; _ga_XD4TBVCD03=GS1.1.1653621926.1.1.1653622836.0; XSRF-TOKEN=7kepFEnSrsx70cjRCNcOMVrw1vPQ8liizLo0hMNz%2B5FVxhTiubJTYSNgTrn7nLpvKssHs7L2dDjOxrO9JV13iA%3D%3D; _abp_backend_session=S2J0S2hsVWVlcGJTNDhpbll0VXNuQTR4T0lmRU9qUUVPNzFlTnJhSnJubkgyTW00Yld0L0pIVnBBZ08yZHZaMi9jc1pVdWErVU1SQ25HQUJHblJVTDU5TEJxQXpJMzM5alhnVy9EUTBvQ25md1V3c0NEQ2dJVExNd1RoeDhhUmRYMXpjMmxMY3o4Nk5QbjhhR01WckhBPT0tLWJGUkg5U0hJbUV6S3d6MnNhb0NPR3c9PQ%3D%3D--1c917389eda6c460ce01ff3b5af5e4eb0b7137f0; _clsk=ajo31u|1653622837004|24|0|e.clarity.ms/collect; QSI_HistorySession=https%3A%2F%2Fwww.truecar.com%2Fprices-new%2Faudi%2F~1653622081593%7Chttps%3A%2F%2Fwww.truecar.com%2F~1653622115619%7Chttps%3A%2F%2Fwww.truecar.com%2Fused-cars-for-sale%2Flistings%2Faudi%2F~1653622128244%7Chttps%3A%2F%2Fwww.truecar.com%2F~1653622702388%7Chttps%3A%2F%2Fwww.truecar.com%2Fused-cars-for-sale%2Flistings%2Flocation-new-york-ny%2F~1653622801862%7Chttps%3A%2F%2Fwww.truecar.com%2Fused-cars-for-sale%2Flistings%2Flocation-new-york-ny%2F%3Fpage%3D2~1653622827316%7Chttps%3A%2F%2Fwww.truecar.com%2Fused-cars-for-sale%2Flistings%2Flocation-new-york-ny%2F~1653622842321; _dd_s=rum=0&expire=1653624019821; utag_main=v_id:0181038c220100182c28110af43705073001806b007e8{_sn:1$_se:44$_ss:0$_st:1653624919828$ses_id:1653621924356%3Bexp-session$_pn:9%3Bexp-session$dc_visit:1$dc_event:38%3Bexp-session$dc_region:ap-northeast-1%3Bexp-session}",
    'if-none-match': 'W/"a17047684306a9fbc0003e1c86a8c312"',
    'referer': 'https://www.truecar.com/used-cars-for-sale/listings/location-new-york-ny/',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="101", "Google Chrome";v="101"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"Windows"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'same-origin',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/101.0.4951.67 Safari/537.36',
    'x-xsrf-token': '7kepFEnSrsx70cjRCNcOMVrw1vPQ8liizLo0hMNz+5FVxhTiubJTYSNgTrn7nLpvKssHs7L2dDjOxrO9JV13iA==',
}

In [8]:
for i in range(1,100):
    response = requests.get('https://www.truecar.com/abp/api/vehicles/used/listings?city=new-york&collapse=true&fallback=true&include_incentives=true&include_targeted_incentives=true&new_or_used=u&page='+str(i)+'&per_page=30&postal_code=10001&search_event=true&sort\\[\\]=best_match&sponsored=true&state=ny', cookies=cookies, headers=headers)
    vechile=response.json()['listings']
    for eachvechile in vechile:
        engine.append(eachvechile['vehicle']['engine'])
        mpg_city.append(eachvechile['vehicle']['mpg_city'])
        mpg_highway.append(eachvechile['vehicle']['mpg_highway'])
        mpg_combined.append(eachvechile['vehicle']['mpg_combined'])
        fuel_type.append(eachvechile['vehicle']['fuel_type'])
        delearship.append(eachvechile['dealership'])
        pricing.append(eachvechile['pricing'])

In [7]:
engine=[]
mpg_city=[]
mpg_highway=[]
mpg_combined=[]
fuel_type=[]
delearship=[]
pricing=[]

In [ ]:
len(response.json())

In [ ]:
delearship=[]

In [9]:
len(delearship)

2970

In [ ]:
vechile=response.json()['listings']

In [ ]:

for eachvechile in vechile:
    delearship.append(eachvechile['dealership'])

In [10]:
name=[]
location=[]

In [11]:
for eachdelearship in delearship:
    name.append(eachdelearship['name'])
    location.append(eachdelearship['location']['address1'])

In [ ]:
location

In [ ]:
delearship

In [ ]:
name=delearship['name']
location=delearship['location']['address1']

In [ ]:
vechile

In [ ]:
engine=[]
mpg_city=[]
mpg_highway=[]
mpg_combined=[]
fuel_type=[]

In [ ]:
len(fuel_type)

In [ ]:
for eachvechile in vechile:
    engine.append(eachvechile['vehicle']['engine'])
    mpg_city.append(eachvechile['vehicle']['mpg_city'])
    mpg_highway.append(eachvechile['vehicle']['mpg_highway'])
    mpg_combined.append(eachvechile['vehicle']['mpg_combined'])
    fuel_type.append(eachvechile['vehicle']['fuel_type'])

In [ ]:
engine=vechile['vehicle']['engine']
mpg_city=vechile['vehicle']['mpg_city']
mpg_highway=vechile['vehicle']['mpg_highway']
mpg_combined=vechile['vehicle']['mpg_combined']
fuel_type=vechile['vehicle']['fuel_type']

In [ ]:
pricing=[]

In [ ]:
for eachvechile in vechile:
    pricing.append(eachvechile['pricing'])

In [12]:
price=[]

In [13]:
for eachprice in pricing:
    price.append(eachprice['list_price'])

In [ ]:
price

In [ ]:
price=pricing['list_price']

In [ ]:
name

In [ ]:
location

In [ ]:
engine

In [ ]:
mpg_city

In [ ]:
mpg_highway

In [ ]:
mpg_combined

In [ ]:
price

In [ ]:
fuel_type

In [15]:
len(name)

2970

In [2]:
import pandas as pd

In [18]:
df=pd.DataFrame({'Name':name,'Location':location,'Price':price,'Engine':engine,'fuel_type':fuel_type,'mpg_city':mpg_city,'mpg_highway':mpg_highway,'mpg_combined':mpg_combined})

In [19]:
df

,Name,Location,Price,Engine,fuel_type,mpg_city,mpg_highway,mpg_combined
0,Mercedes-Benz Manhattan,770 11th Avenue,32900.0,2.0L Inline-4 Gas Turbocharged,Gas,22.0,33.0,26.0
1,Mercedes-Benz Manhattan,770 11th Avenue,33900.0,2.0L Inline-4 Gas Turbocharged,Gas,22.0,33.0,26.0
2,Mercedes-Benz Manhattan,770 11th Avenue,43900.0,2.0L Inline-4 Gas Turbocharged,Gas,23.0,33.0,27.0
3,Mercedes-Benz Manhattan,770 11th Avenue,55900.0,3.0L V-6 Gas Turbocharged,Gas,16.0,22.0,18.0
4,Mercedes-Benz Manhattan,770 11th Avenue,54900.0,2.0L Inline-4 Gas Turbocharged,Gas,19.0,26.0,22.0
...,...,...,...,...,...,...,...,...
2965,Carmax South Portland,415 Maine Mall Road,29998.0,3.6L V-6 Gas,Gas,18.0,25.0,21.0
2966,Tri County Lexus,700 US Highway 46,45081.0,3.5L V-6 Gas,Gas,19.0,26.0,22.0
2967,Silk City Auto Mall,290 Pennsylvania Avenue,25995.0,5.7L V-8 Gas,Gas,13.0,17.0,15.0
2968,Richard Lucas Chevrolet,1077 US Highway 1,45995.0,5.3L V-8 Gas,Gas,15.0,21.0,17.0
2969,CarMax Southwest Freeway,6909 SouthWest Freeway,17998.0,1.6L Inline-4 Gas,Gas,31.0,39.0,34.0

In [20]:
df.Name

0        Mercedes-Benz Manhattan
1        Mercedes-Benz Manhattan
2        Mercedes-Benz Manhattan
3        Mercedes-Benz Manhattan
4        Mercedes-Benz Manhattan
                  ...
2965       Carmax South Portland
2966            Tri County Lexus
2967         Silk City Auto Mall
2968     Richard Lucas Chevrolet
2969    CarMax Southwest Freeway
Name: Name, Length: 2970, dtype: object

In [3]:
df=pd.read_csv('car.csv')

In [4]:
df

,Unnamed: 0,Name,Location,Price,Engine,fuel_type,mpg_city,mpg_highway,mpg_combined
0,0,Mercedes-Benz Manhattan,770 11th Avenue,32900.0,2.0L Inline-4 Gas Turbocharged,Gas,22.0,33.0,26.0
1,1,Mercedes-Benz Manhattan,770 11th Avenue,33900.0,2.0L Inline-4 Gas Turbocharged,Gas,22.0,33.0,26.0
2,2,Mercedes-Benz Manhattan,770 11th Avenue,43900.0,2.0L Inline-4 Gas Turbocharged,Gas,23.0,33.0,27.0
3,3,Mercedes-Benz Manhattan,770 11th Avenue,55900.0,3.0L V-6 Gas Turbocharged,Gas,16.0,22.0,18.0
4,4,Mercedes-Benz Manhattan,770 11th Avenue,54900.0,2.0L Inline-4 Gas Turbocharged,Gas,19.0,26.0,22.0
...,...,...,...,...,...,...,...,...,...
2965,2965,Carmax South Portland,415 Maine Mall Road,29998.0,3.6L V-6 Gas,Gas,18.0,25.0,21.0
2966,2966,Tri County Lexus,700 US Highway 46,45081.0,3.5L V-6 Gas,Gas,19.0,26.0,22.0
2967,2967,Silk City Auto Mall,290 Pennsylvania Avenue,25995.0,5.7L V-8 Gas,Gas,13.0,17.0,15.0
2968,2968,Richard Lucas Chevrolet,1077 US Highway 1,45995.0,5.3L V-8 Gas,Gas,15.0,21.0,17.0
2969,2969,CarMax Southwest Freeway,6909 SouthWest Freeway,17998.0,1.6L Inline-4 Gas,Gas,31.0,39.0,34.0

In [6]:
df=df.drop(labels='Unnamed: 0', axis=1)

In [7]:
df

,Name,Location,Price,Engine,fuel_type,mpg_city,mpg_highway,mpg_combined
0,Mercedes-Benz Manhattan,770 11th Avenue,32900.0,2.0L Inline-4 Gas Turbocharged,Gas,22.0,33.0,26.0
1,Mercedes-Benz Manhattan,770 11th Avenue,33900.0,2.0L Inline-4 Gas Turbocharged,Gas,22.0,33.0,26.0
2,Mercedes-Benz Manhattan,770 11th Avenue,43900.0,2.0L Inline-4 Gas Turbocharged,Gas,23.0,33.0,27.0
3,Mercedes-Benz Manhattan,770 11th Avenue,55900.0,3.0L V-6 Gas Turbocharged,Gas,16.0,22.0,18.0
4,Mercedes-Benz Manhattan,770 11th Avenue,54900.0,2.0L Inline-4 Gas Turbocharged,Gas,19.0,26.0,22.0
...,...,...,...,...,...,...,...,...
2965,Carmax South Portland,415 Maine Mall Road,29998.0,3.6L V-6 Gas,Gas,18.0,25.0,21.0
2966,Tri County Lexus,700 US Highway 46,45081.0,3.5L V-6 Gas,Gas,19.0,26.0,22.0
2967,Silk City Auto Mall,290 Pennsylvania Avenue,25995.0,5.7L V-8 Gas,Gas,13.0,17.0,15.0
2968,Richard Lucas Chevrolet,1077 US Highway 1,45995.0,5.3L V-8 Gas,Gas,15.0,21.0,17.0
2969,CarMax Southwest Freeway,6909 SouthWest Freeway,17998.0,1.6L Inline-4 Gas,Gas,31.0,39.0,34.0

In [14]:
df.isnull().sum()

Name             0
Location         0
Price            6
Engine           0
fuel_type        0
mpg_city        46
mpg_highway     46
mpg_combined     0
dtype: int64

In [9]:
avg_value=int(df.Price.mean())

In [67]:
df.columns

Index(['Name', 'Location', 'Price', 'Engine', 'fuel_type', 'mpg_city',
       'mpg_highway', 'mpg_combined'],
      dtype='object')

In [13]:
df['mpg_combined']=df['mpg_combined'].fillna(df.mpg_combined.mean())

In [11]:
df

,Name,Location,Price,Engine,fuel_type,mpg_city,mpg_highway,mpg_combined
0,Mercedes-Benz Manhattan,770 11th Avenue,32900.0,2.0L Inline-4 Gas Turbocharged,Gas,22.0,33.0,26.0
1,Mercedes-Benz Manhattan,770 11th Avenue,33900.0,2.0L Inline-4 Gas Turbocharged,Gas,22.0,33.0,26.0
2,Mercedes-Benz Manhattan,770 11th Avenue,43900.0,2.0L Inline-4 Gas Turbocharged,Gas,23.0,33.0,27.0
3,Mercedes-Benz Manhattan,770 11th Avenue,55900.0,3.0L V-6 Gas Turbocharged,Gas,16.0,22.0,18.0
4,Mercedes-Benz Manhattan,770 11th Avenue,54900.0,2.0L Inline-4 Gas Turbocharged,Gas,19.0,26.0,22.0
...,...,...,...,...,...,...,...,...
2965,Carmax South Portland,415 Maine Mall Road,29998.0,3.6L V-6 Gas,Gas,18.0,25.0,21.0
2966,Tri County Lexus,700 US Highway 46,45081.0,3.5L V-6 Gas,Gas,19.0,26.0,22.0
2967,Silk City Auto Mall,290 Pennsylvania Avenue,25995.0,5.7L V-8 Gas,Gas,13.0,17.0,15.0
2968,Richard Lucas Chevrolet,1077 US Highway 1,45995.0,5.3L V-8 Gas,Gas,15.0,21.0,17.0
2969,CarMax Southwest Freeway,6909 SouthWest Freeway,17998.0,1.6L Inline-4 Gas,Gas,31.0,39.0,34.0

In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.29-cp39-cp39-win_amd64.whl (7.7 MB)
Collecting protobuf>=3.0.0
  Downloading protobuf-4.21.1-cp39-cp39-win_amd64.whl (524 kB)
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.0.29 protobuf-4.21.1
Note: you may need to restart the kernel to use updated packages.